.hero {
	background: url(../images/hero-1.jpg) center / cover;
}

@media (max-width: 1024px) { 
  .hero { 
    background: black url(../images/hero-2.jpg) center / cover; 
  } 
}
@media (max-width:  768px) { 
  .hero { 
    background: black url(../images/hero-3.jpg) center / cover; 
  } 
}